*{
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app{
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.app-dropdown {
  background: white;
}

.app-header{
  /* display: flex It pushes everything in a row */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app-header > h1{
  color: #fc3c3c;
}

.app-left {
  flex: 0.9;
}

.app-graph{
  flex-grow: 1;
}

.app-right{
  display: flex;
  flex-direction: column;
}

.app-right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-graphTitle{
  margin-top: 10px;
  margin-bottom: 5px;

}

.app-stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}

